body {
background-color:#000000;
   display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
 border-radius: 50%;
     border:5px double;
    border-color: #00eeff;
    margin-top:150px;
   width:210px;
  height:40px;
/*   padding-bottom: 60px; */

  
}


.oval {
  width:100px;
  height:100px;
/*   background-color:#3afa05; */
border-radius: 50%;
/*  border-style: solid 15px;
  border-color: #ae00ff; */
    border-style: solid ;
  border-color: #00eeff;
      margin: auto;
     background-image: linear-gradient(to right,  #bf00e6 , blue);
    opacity: 0.4;
 animation: circleAnimation 60s
    linear infinite;
/*   padding-left:60px; */
  
 
  
}
/*шарик*/
.oval::before{
    content: '';
    position: absolute;
    top: 1px;


  
    left: 50%;
    transform:translateX(-50%);
    width: 5px;
    height: 55px;
    border-radius: 50%;
    background: #00ff11;;
    box-shadow: 0 0 20px #00ff33, 0 0 60px  #04fc43;

}
/* анимация */
@keyframes circleAnimation {
    0% {
        transform: rotate(0deg);
    }50%{
         transform: rotate(180deg)
     }
    100%{
        transform: rotate(360deg);


    }
}

.vertikal {
  
  width:80px;
  height:300px;
/* background-color:#0f0f0f; */
   border-style: solid;
  border-color: #00eeff;
 
      margin: auto;
  border-radius: 3%;
   background-image: linear-gradient(to right,  #bf00e6 , blue);
   
  
  
}

  .gorizont {
  width:200px;
  height:50px;
background-color:#0f0f0f;
   border-style: solid;
  border-color: #00eeff;
    margin-top:-250px;
    border-radius: 3%;
       background-image: linear-gradient(to right,  #bf00e6 , blue);
  
    
 }

